/* Adminimal Theme overrides file. All selectors must start with ".adminimal" */

/* Import the Open Sans webfont from Google CDN */

/*html {
  zoom: 1.1;
}*/

/* Fix drag and drop offset in ckeditor toolbar configuration */
/*.adminimal .ckeditor-toolbar-configuration.js-form-wrapper.form-wrapper {
  zoom: 0.9;
}*/

body.adminimal {
    font: normal 81.3%/1.538em;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
  }
  
  .adminimal {
    h1, .heading-a {
      font-weight: 300;
      margin-bottom: 19px;
      margin-bottom: 1rem;
      font-size: 2.35em;
      line-height: 1.2em;
      color: #fff;
    }
    .content-header {
      background-color: #333;
      padding: 1rem 0 0;
    }
    &.toolbar-tray-open.toolbar-fixed.toolbar-horizontal {
      padding-top: 4rem !important;
    }
    thead th {
      border: none;
      color: #909090;
      text-transform: none;
      font-weight: 500;
      font-size: 0.91rem;
      &.is-active {
        background: #fff;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #E6E4DF;
        border-left: 1px solid #E6E4DF;
        border-right: 1px solid #E6E4DF;
      }
    }
    th {
      &.is-active {
        > a {
          color: #333;
          &:hover {
            color: #333;
          }
        }
        > a:after {
          display: none;
        }
      }
      > a {
        &:hover {
          text-decoration: underline;
        }
        &:after {
          display: none;
        }
      }
    }
    thead > tr {
      border-bottom: 1px solid #E6E4DF;
    }
    .tabs__tab {
      border: 1px solid transparent;
    }
    .tabs.primary {
      margin: 0;
      margin: 0;
      .tabs__tab.is-active {
        border-radius: 0;
        /* LTR */
      }
    }
  }
  
  [dir="rtl"] .adminimal .tabs.primary .tabs__tab.is-active {
    border-top-right-radius: 0;
  }
  
  .adminimal .is-collapse-enabled .tabs__trigger {
    border-radius: 0;
    /* LTR */
  }
  
  [dir="rtl"] .is-collapse-enabled .tabs__trigger {
    border-left: 1px solid transparent;
    border-radius: 0 0 0 0;
  }
  
  .adminimal {
    .is-open .tabs__tab.is-active {
      border-bottom: 1px solid transparent;
    }
    .is-horizontal .tabs__tab {
      transition: all, 0.3s;
      + .tabs__tab {
        border-radius: 0;
        border: none;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  
  [dir="rtl"] .adminimal .is-horizontal .tabs__tab + .tabs__tab, .adminimal .is-horizontal .tabs.primary .tabs__tab:first-child, [dir="rtl"] .adminimal .is-horizontal .tabs.primary .tabs__tab:first-child, .adminimal .is-horizontal .tabs.primary .tabs__tab:last-child, [dir="rtl"] .adminimal .is-horizontal .tabs.primary .tabs__tab:last-child {
    border-radius: 0;
    border: none;
    margin-left: 0;
    margin-right: 0;
  }
  
  .adminimal .is-horizontal {
    .tabs__tab.is-active, .tabs.primary .tabs__tab.is-active {
      border-radius: 0;
      border: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  [dir="rtl"] .adminimal .is-horizontal .tabs.primary .tabs__tab.is-active {
    border-radius: 0;
    border: none;
    margin-left: 0;
    margin-right: 0;
  }
  
  .adminimal {
    .is-collapse-enabled .tabs:before, .is-horizontal .tabs:before {
      display: none;
    }
    .tabs__tab {
      background: transparent;
      &:hover, &:focus {
        background: transparent;
      }
    }
    .tabs.primary a:focus {
      background: transparent;
    }
    .is-horizontal .tabs.primary a:hover {
      text-decoration: underline;
    }
    nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled ul.tabs.primary {
      background: #ebebeb;
      margin-left: -2.1rem;
      margin-right: -2.1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .is-horizontal {
      .tabs.primary .tabs__tab:first-child.is-active {
        box-shadow: -0.5rem 0px 0 #fff;
      }
      ul.tabs.secondary li:first-of-type {
        margin-left: 0;
      }
    }
  }
  
  [dir="rtl"] .adminimal .is-horizontal ul.tabs.secondary li:first-of-type {
    margin-left: 1em;
    margin-right: 0;
  }
  
  .adminimal {
    .vertical-tabs {
      border-radius: 0;
      border: 1px solid #b5b5b5;
      background: #f2f2f0;
    }
    .vertical-tabs__panes {
      border: none;
    }
    .vertical-tabs__menu {
      border-bottom: none;
    }
    .vertical-tabs__menu-item {
      a {
        border: 0 none;
        transition: all, 0.2s;
        &:hover, &:focus {
          background: #D2E7F4;
        }
      }
      &.is-selected {
        a {
          &:hover, &:focus {
            background: #FCFCFA;
          }
        }
        border: 0 none;
        box-shadow: none;
      }
    }
    .button {
      border-radius: 0;
      background-image: none;
      background-color: #F9F9F9;
      text-shadow: none;
      transition: all, 0.2s;
      &:hover, &:focus {
        background-color: #FFFFFF;
        border-color: #008ee6;
        background-image: none;
      }
    }
    .button-action:before {
      display: none;
    }
    .action-links {
      margin: 2em 0;
    }
    .button--primary {
      background: #0071b8;
      border-color: #0071b8;
      &:hover, &:focus {
        background-image: none;
        background-color: #1f86c7;
        border-color: #1f86c7;
      }
    }
    .button:focus {
      box-shadow: none;
      border-color: rgb(104, 163, 207);
      outline: rgb(193, 224, 255) solid 2px;
    }
    .button--small:focus {
      outline: none;
    }
    .action-links .button--primary {
      color: #327EBD;
      background: #fff;
      font-size: 14px;
      padding: 0.33rem 1.33rem;
      border: 2px solid #327ebd;
      font-family: sans-serif;
      border-radius: 999px;
      font-weight: 600;
      &:hover {
        color: #fff;
        box-shadow: none;
        background-image: none;
        background-color: #327EBD;
      }
      &:focus {
        color: #fff;
        box-shadow: none;
        background-image: none;
        background-color: #327EBD;
        border-color: #08639b;
        outline: none;
      }
    }
    .button--small {
      border-color: #cacaca;
      border-radius: 0.2rem;
      color: #b1b1b1;
      font-weight: 500;
      background: #fff;
    }
    .button--danger {
      text-decoration: none;
      background-color: transparent;
      &:hover {
        text-decoration: underline;
      }
    }
    select {
      min-height: 28px;
      text-shadow: none;
    }
  }
  
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .adminimal select {
      border-radius: 0;
      background: url(../images/caret-down.svg) no-repeat 98% 64% #fcfcfa;
      &:focus, &:hover {
        background: url(../images/caret-down.svg) no-repeat 98% 64% #fcfcfa;
      }
      &:focus {
        border-color: #68A3CF;
        outline: 2px solid #C1E0FF;
        outline-offset: 0px;
        color: #000;
      }
    }
  }
  
  .js .adminimal {
    .form-actions .dropbutton .dropbutton-action > * {
      text-shadow: none;
      border-radius: 0;
      font-weight: 500;
      box-shadow: none;
    }
    .dropbutton-widget .dropbutton-action {
      a, input, button {
        border-radius: 0;
        font-weight: 500;
        box-shadow: none;
      }
    }
    .dropbutton-multiple .dropbutton-widget, .dropbutton-widget .dropbutton-action input {
      border-radius: 0;
      font-weight: 500;
      box-shadow: none;
    }
    .dropbutton-wrapper .dropbutton-widget {
      .dropbutton-toggle button {
        border-radius: 0;
        font-weight: 500;
        box-shadow: none;
      }
      .dropbutton-action {
        a:hover, button:hover, input:hover, a:focus, button:focus, input:focus {
          box-shadow: none;
        }
      }
    }
    .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
      border-color: #FFFFFF;
    }
  }
  
  .adminimal .form-actions .dropbutton .secondary-action {
    border-color: #FFFFFF;
  }
  
  .js .adminimal {
    .dropbutton-multiple .dropbutton-widget {
      background: #fcfcfa;
      background-image: none;
      text-shadow: none;
    }
    .form-actions .dropbutton-multiple .dropbutton-widget {
      background-color: #0071b8;
    }
    .dropbutton-multiple {
      .dropbutton-widget {
        text-shadow: none;
      }
      &.open .dropbutton-action:first-child {
        a, .button {
          border-radius: 0;
        }
      }
    }
    .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button {
      &:hover, &:focus {
        background-image: none;
        box-shadow: none;
      }
    }
  }
  
  .adminimal {
    label {
      margin: 0 0 0.2em;
    }
    input {
      &.form-autocomplete, &.form-text, &.form-tel, &.form-email, &.form-url, &.form-search, &.form-number, &.form-color, &.form-file, &.form-date, &.form-time {
        box-shadow: none;
        border-radius: 0;
      }
    }
    textarea.form-textarea {
      box-shadow: none;
      border-radius: 0;
    }
    .form-text:focus, .form-tel:focus, .form-email:focus, .form-url:focus, .form-search:focus, .form-number:focus, .form-color:focus, .form-file:focus, .form-textarea:focus, .form-date:focus, .form-time:focus {
      border-color: #68A3CF;
      outline: 2px solid #C1E0FF;
      outline-offset: 0px;
      color: #000;
    }
  }
  
  .js .adminimal .dropbutton-wrapper .dropbutton-widget {
    .dropbutton-action {
      a:hover, button:hover, input:hover, a:focus, button:focus, input:focus {
        background-image: none;
        background-color: #FFFFFF;
      }
    }
    .dropbutton-toggle button {
      &:hover, &:focus {
        background-image: none;
        background-color: #FFFFFF;
      }
    }
  }
  
  .adminimal {
    .link.tabledrag-toggle-weight {
      margin-bottom: 0.3em;
    }
    .toolbar {
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    }
    &.toolbar-fixed.toolbar-vertical {
      padding-top: 32px !important;
    }
    .toolbar {
      a {
        transition: all, 0.2s;
      }
      .toolbar-bar {
        box-shadow: none;
        background-color: #2D2D2D;
      }
      .toolbar-menu {
        background: #333;
      }
      .toolbar-tray-vertical {
        border: none;
        box-shadow: none;
      }
    }
    .toolbar-tray a {
      color: #BBBBBB;
    }
    .toolbar {
      .toolbar-bar {
        .toolbar-tab > .toolbar-item {
          font-weight: 600;
        }
        .toolbar-item {
          color: #BEBEBE;
        }
        .toolbar-tab > .toolbar-item {
          &:hover {
            background-image: none;
            background-color: #2D2D2D;
            color: #fff;
            text-decoration: none;
          }
          &.is-active, &:focus {
            background-image: none;
            background-color: #333;
            text-decoration: none;
          }
        }
      }
      .toolbar-tray-horizontal .menu-item + .menu-item {
        border-left: none;
        /* LTR */
        border-right: none;
      }
    }
  }
  
  [dir="rtl"] .adminimal .toolbar .toolbar-tray-horizontal .menu-item + .menu-item {
    border-left: none;
    /* LTR */
    border-right: none;
  }
  
  .adminimal {
    .toolbar {
      .toolbar-tray-horizontal .menu-item:last-child {
        border-left: none;
        /* LTR */
        border-right: none;
      }
      .toolbar-tray {
        .menu-item--active-trail > .toolbar-box a, a.is-active {
          color: #bbb;
          text-decoration: none;
          font-weight: 500;
        }
      }
      .toolbar-tray-vertical .menu-item + .menu-item {
        border: 0 none;
      }
      .toolbar-tray {
        background-color: #333;
        box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.85);
      }
      .toolbar-tray-horizontal {
        border-bottom: 1px solid #333;
        box-shadow: none;
      }
      .toolbar-toggle-orientation {
        background-color: #333;
      }
      .toolbar-icon.toolbar-handle {
        &:focus {
          background-color: transparent;
        }
        &:before {
          background-image: url(../images/chevron-disc-down.svg);
        }
        &:hover:before {
          background-image: url(../images/chevron-disc-down-hover.svg);
        }
        &.open:before {
          background-image: url(../images//chevron-disc-up.svg);
        }
      }
      .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle {
        &:before {
          background-image: url(../images/chevron-disc-down.svg);
        }
        &:hover:before {
          background-image: url(../images/chevron-disc-down-hover.svg);
        }
        &.open:before {
          background-image: url(../images//chevron-disc-up.svg);
        }
      }
    }
    .toolbar-tray-horizontal a:focus {
      background: transparent;
    }
  }
  
  .toolbar-box a:focus {
    background: transparent;
  }
  
  .adminimal {
    .toolbar {
      .toolbar-tray-vertical .toolbar-menu {
        a {
          color: #BBB;
          &:hover {
            color: #fff;
          }
        }
        ul ul {
          border: none;
        }
      }
      .toolbar-tray-horizontal .toolbar-toggle-orientation {
        border: none;
      }
    }
    .dropbutton-single .dropbutton-action a {
      border-radius: 0 !important;
      background-image: none;
      background: #F5F5F2;
    }
    .ui-dialog {
      .ui-dialog-titlebar {
        border-radius: 0;
        background: #333;
      }
      .ui-widget-content.ui-dialog-buttonpane {
        border-radius: 0;
      }
      .ui-dialog-titlebar {
        outline: none;
      }
      outline: none;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
    .ui-button-icon-only.ui-dialog-titlebar-close {
      &.ui-state-active, &.ui-widget-content .ui-state-active {
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
    }
    .ui-dialog .ui-dialog-titlebar-close {
      opacity: 0.5;
      transition: all, 0.2s;
      &:hover {
        opacity: 1;
      }
    }
    .messages {
      margin: 1rem 0 1rem 0;
      border-width: 1px 0px 1px 0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      background-size: 1.3rem;
      background-position: 5px 50%;
    }
    .messages--error {
      border-color: #E32700;
    }
    .messages--warning {
      border-color: #E29700;
    }
    .messages--status {
      border-color: #73B355;
    }
    .cke_top, .cke_bottom {
      background: #F7F7F7;
      background-image: none;
      box-shadow: none;
    }
    .filter-wrapper {
      background: #F7F7F7;
    }
    .cke_ltr .cke_button:first-child, .cke_rtl .cke_button:last-child, .cke_toolgroup {
      border-radius: 0;
    }
    .toolbar-icon-system-admin-content {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/file.svg);
      }
    }
    .toolbar-icon-system-admin-structure {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/orgchart.svg);
      }
    }
    .toolbar-icon-system-themes-page {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/paintbrush.svg);
      }
    }
    .toolbar-icon-entity-user-collection {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/people.svg);
      }
    }
    .toolbar-icon-system-modules-list {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/puzzlepiece.svg);
      }
    }
    .toolbar-icon-system-admin-config {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/wrench.svg);
      }
    }
    .toolbar-icon-system-admin-reports {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/barchart.svg);
      }
    }
    .toolbar-icon-help-main {
      &:active:before, &.is-active:before {
        background-image: url(/core/themes/stable/images/core/icons/787878/questionmark-disc.svg);
      }
    }
    &.path-batch .layout-container {
      padding-top: 1.3rem;
    }
    .views-display-top {
      background-color: #fafafa;
      border-bottom: 1px solid #f2f2f2;
    }
    .views-displays {
      border: 1px solid #e8e8e8;
    }
    .views-admin .form-edit .form-actions {
      border-color: #e8e8e8;
      background-color: #fafafa;
    }
    .views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
      background-color: inherit;
    }
    .views-displays .tabs.secondary a {
      border-radius: 0;
    }
    .view-preview-form__title {
      background-color: #fafdfe;
      border-bottom: 1px solid #e8e8e8;
      font-size: 1.2em;
    }
    .views-preview-wrapper {
      border: 1px solid #e8e8e8;
    }
    .views-ui-dialog .views-override {
      background-color: #f6f6f6;
    }
  }
  
  /* Style checkbox and radio buttons in Chrome + Safari + Opera */
  @supports (-webkit-appearance: none) {
    input {
      &[type=checkbox], &[type=radio], &[type=checkbox]#edit-delete {
        -webkit-appearance: none;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 0.25em;
        padding: 0;
        background: #fff;
        border: 1px solid #B5B5B5;
        width: 16px !important;
        height: 16px !important;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: background 0.5s ease;
        outline: none;
      }
    }
    .adminimal-theme .location .form-item input.form-checkbox {
      width: 16px;
      display: inline-block;
    }
    input {
      &[type=checkbox]#edit-delete {
        margin-bottom: 0;
      }
      &[type=radio] {
        border-radius: 50%;
      }
      &[type=checkbox] {
        &:hover, &:focus {
          border-color: #0074BD;
          cursor: pointer;
        }
      }
      &[type=radio] {
        &:hover, &:focus {
          border-color: #0074BD;
          cursor: pointer;
        }
      }
      &[type=checkbox] {
        &#edit-delete {
          &:hover, &:focus {
            border-color: #D01616;
            cursor: pointer;
          }
        }
        &:checked, &:disabled:checked {
          background: #0074BD;
          box-shadow: inset 0px 0px 0px 3px #fff;
        }
      }
      &[type=radio] {
        &:checked, &:disabled:checked {
          background: #0074BD;
          box-shadow: inset 0px 0px 0px 3px #fff;
        }
      }
      &[type=checkbox] {
        &#edit-delete {
          &:checked, &:disabled:checked {
            background: #D01616;
            box-shadow: inset 0px 0px 0px 3px #fff;
          }
        }
        &:disabled {
          opacity: .5;
          background: #E2E2E2;
        }
      }
      &[type=radio]:disabled {
        opacity: .5;
        background: #E2E2E2;
      }
      &[type=checkbox] {
        &#edit-delete:disabled {
          opacity: .5;
          background: #E88181;
        }
        &:disabled:hover {
          border-color: #B5B5B5;
          cursor: default;
          border-color: #B5B5B5;
          cursor: default;
          /*cursor: not-allowed;*/
        }
      }
      &[type=radio]:disabled:hover {
        border-color: #B5B5B5;
        cursor: default;
        /*cursor: not-allowed;*/
      }
    }
  }
  
  @import '../node_modules/susy/sass/susy';
  @import '../node_modules/breakpoint-sass/stylesheets/breakpoint';
  @import '../node_modules/mappy-breakpoints/mappy-breakpoints';
  @import '../node_modules/typi/scss/typi';
  @import '../node_modules/modularscale-sass/stylesheets/modularscale';

  @import 'normalize';
  @import 'variables';

  @import 'mixins';
  @import 'extends';


  @import 'functions';


$susy: (
  flow: ltr, // ltr | rtl
  output: float, // float | isolate
  math: fluid, // fluid | static (requires column-width)
  column-width: false, // false | value
  container: auto, // length or % | auto
  container-position: center, // left | center | right | <length> [*2] (grid padding)
  last-flow: to,
  columns: 12,
  gutters: 1/2,
  gutter-position: before, // before | after | split | inside | inside-static (requires column-width)
  global-box-sizing: border-box, // content-box | border-box (affects inside/inside-static)
  debug:
    (
      image: hide, //show | hide | show-columns | show-baseline
      color: rgba(blue, .2),
      output: background, // background | overlay
      toggle: bottom right, //	right | left and top | bottom
    ),
);

///Extra map for guttles grid
$no-gutter: (
  gutters: 0
);

$sidebars-gutter: (
  gutters: 1
);

//Setting Box sizing for the site
@include border-box-sizing;



.layout-container {
  // @include container(1200px);
}


